* { margin: 0; padding: 0; border:0; font-weight:normal;}


body { font-family: Helvetica, Tahoma, Arial, sans-serif; background: #fff; color: #fff; }

@font-face {
	font-family:'Storybook';
	src:url(fonts/storybook.ttf);
	src:url(fonts/storybook.otf);
	src:url(fonts/storybook.woff);
	src:url(fonts/storybook.woff2);
	src:url(fonts/storybook.eot);
	
	font-family:'Caecilla';
	src:url(fonts/caecilla.ttf)
}

/* Classes */

.background {
	background: url('images/dots.jpg');
    background-size:contain;
    background-repeat:repeat;
    background-position:center center;
	
}

.content-container {
    max-width: 960px;
    margin: 0 auto;
    text-align: left;
	margin-bottom: 5vh;
}

.gtopen {
	padding: 0 2%;
	text-align:center;
}

.gtopen p {
  padding: 0;
  margin: 0;
  text-align: center;
  background: none;
  font-family: "Caecilla", sans-serif;
  font-size:14px;
  font-size: 1rem;
  line-height: 1.1;
  text-transform: none;
  color: #fff;
}

.one-column {
    width: 87%;
    font-size: 0;
    text-align: center;
}

.one-column li {
    width: 100%;
    padding: 0 7%;
	display: inline-block;
    vertical-align: top;
}

.one-column li .icon {
    width:72px;
    margin: 0 auto 10px;
    display: inline-block;
}

.one-column li .icon img{
    width:100%;
}

.one-column li h2{
  margin-bottom: 0;
  margin-left:10px;
  text-align: center;
  display:inline-block;
  vertical-align:bottom;
  font-family: "Storybook", cursive, sans-serif;
  font-size:45px;
  font-size: 3.2rem;
  color: #a28712;
  padding-bottom:0;
}

.one-column li p{
  padding: 0;
  margin: 0;
  text-align: center;
  background: none;
  font-family: "Caecilla", sans-serif;
  font-size:14px;
  font-size: 1rem;
  line-height: 1.1;
  text-transform: none;
  color: #fff;
}

.wts {
    width: 87%;
	padding-top:2%;
    font-size: 0;
    text-align: center;
}

.wts li {
    width: 100%;
    padding: 0 7%;
	display: inline-block;
    vertical-align: top;
}

.wts li .icon {
    width:72px;
    margin: 0 auto 10px;
    display: inline-block;
}

.wts li .icon img{
    width:100%;
}

.wts li h2{
  margin-bottom: 0;
  margin-left:10px;
  text-align: center;
  display:inline-block;
  vertical-align:bottom;
  font-family: "Storybook", cursive, sans-serif;
  font-size:45px;
  font-size: 3.2rem;
  color: #a28712;
  padding-bottom:0;
}

.map {
    width: 100%;
    font-size: 0;
    text-align: left;
}

.map li {
    width: 46%;
    padding: 0 2%;
	display: inline-block;
    vertical-align: top;
}

.map li .icon {
    margin-left:11%;
	margin-top:2%;
	height:70px;
	width:60px;
	display: inline-block;
}

.map li .icon img {
	width:100%;
}

.map li h2 {
	font-size:14px;
	font-size: 1rem;
	text-align:left;
	margin-left:11%;
	margin-top:-2%;
}

.map li .pic {
    margin-left:-48%;
	margin-top:2%;
	width:140%;
	display: inline-block;
}


.map li .pic img {
	width:100%;
}

.three-column {
    width: 100%;
    font-size: 0;
    text-align: left;
}

.three-column li {
    width: 29.33%;
    padding: 0 2%;
	display: inline-block;
    vertical-align: top;
}

.three-column li .icon {
    width:72px;
    margin: 0 auto 10px;
    display: inline-block;
}

.three-column li .icon img{
    width:100%;
}

.three-column li h2{
  margin-bottom: 0;
  margin-left:10px;
  text-align: left;
  display:inline-block;
  vertical-align:bottom;
  font-family: "Storybook", cursive, sans-serif;
  font-size:45px;
  font-size: 3.2rem;
  color: #a28712;
  padding-bottom:0;
}

.three-column li p{
  padding: 0;
  margin: 0;
  text-align: left;
  background: none;
  font-family: "Caecilla", sans-serif;
  font-size:14px;
  font-size: 1rem;
  line-height: 1.1;
  text-transform: none;
  color: #fff;
}

.two-column-holder {
    position: relative;
    margin-top: 35px;
	background:url(images/leaves.png) repeat-y 50% 0;
	width:auto;
	height:1311px;
}

.two-column-holder ul {
    padding-top: 20px;
}

.two-column-holder .two-column-holder__column-one {
    width: 50%;
    display: inline-block;
    float: left;
}

.two-column-holder .two-column-holder__column-one li {
    margin-bottom: 20px;
}

.two-column-holder .two-column-holder__column-one .article {
    margin-right: 13%;
    float: right;
    clear: right;
	margin-bottom: 122px;
}

.two-column-holder .two-column-holder__column-two {
    width: 50%;
    display: inline-block;
    float: left;
}

.two-column-holder .two-column-holder__column-two li:first-child {
    margin-top: 144px;
}

.two-column-holder .two-column-holder__column-two li .article {
    margin-left: 13%;
    float: left;
    clear: left;
	margin-bottom: 122px;
}

.ribbon {
	text-align:center;
}

.time {
  padding:0;
  margin:0;
  text-align:center;
  font-family:"Caecilla", sans-serif;
  font-size:38px;
  font-size:2.7rem;
  text-transform:none;
  color:#fff;
}

.subtitle {
  margin-bottom: 0;
  text-align: center;
  font-family: "Storybook", cursive, sans-serif;
  font-size:45px;
  font-size:3.2rem;
  color: #a28712;
  padding-bottom:0;
}

.desc {
  padding:0;
  margin:0;
  text-align:center;
  background:none;
  font-family:"Caecilla", sans-serif;
  font-size:14px;
  font-size:1rem;
  line-height:1.1;
  text-transform:none;
  color:#fff;
}

.ribbon-end {
    width: 100%;
    height: 45px;
    display: block;
	background: url(images/leaves-end.png) no-repeat 50% 0; 
}



.logo {
	
	margin: 20vh -50% 0 50%;
	transform: translate(-50%, -50%);
	width:60%;
}

@media screen and (min-width:768px) {


.logo {
	margin: -1vh -50% -2% 50%;	
	width:20%;
	display:block;
	padding: 193px 0px 0px 0px;
	
}

.hb {
	margin: -12vh -50% -2% 12%;	
	width:76%;
	
}


.heartbanner {
	display:block;
	clear:both;
	position:static;
	margin: 5vh -50% 0 50%;
	transform: translate(-50%, -50%);
	width:25%;
}

@media screen and (min-width:768px) {

.heartbanner {
	width:15%;
	margin-top:1vh;
}
}

h1 {
   font-family:'Storybook', cursive, sans-serif;
   font-size:84px;
   font-size:6rem;
   text-align:center;
   top:34vh;
   left:0;
   height:100vh;
   width:100vw;
   color:#fff;
   position:absolute;
   z-index:10;   
}

@media screen and (min-width:768px) {

h1 {
   font-size:182px;
   font-size:13rem;
   top:17vh;
   }
}


h2 {
	font-family:'Caecilla', sans-serif; 
	color:#fff;
	font-size: 15.3vw;
	text-align:center;
	padding-top:5vh;
}

@media screen and (min-width:768px) {

h2 {
	font-size: 8.3vw;
}
}

h3 {
	font-family: 'Storybook', cursive, sans-serif;
	font-size: 3.3vw;
	text-align:center;
	color:#a28712;
	padding-top:2vh;
	padding-bottom: 5vh;
}

h4 {
	font-family: "Caecilla", sans-serif;
	text-align:center;
	color:#a28712;
	font-size: 14px;
    font-size: 1rem;
    line-height: 1.1;
    text-transform: uppercase;
	padding-top:6vh;
	padding-bottom:2vh;
}

@media screen and (min-width:768px) {

h3 {
	font-family: 'Storybook', sans-serif;
	font-size: 6.3vw;
	text-align:center;
	color:#a28712;
	line-height:0.2;
	padding-top:2vh;
	padding-bottom: 7vh;
}
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}


/* whos who */

.herlogo {
	margin: 0 -50% 0 50%;
	transform: translate(-50%, -50%);
	width:60%;
	padding-top:1vh;
}

@media screen and (min-width:768px) {
.herlogo {
	margin: 4vh -50% -2% 50%;
    width: 20%;
}
}

.hislogo {
	margin: 0 -50% 0 50%;
	transform: translate(-50%, -50%);
	width:60%;
}

@media screen and (min-width:768px) {
.hislogo {
	margin: -9vh -50% -4vh 50%;
    width: 20%;
}
}

.party-list {
    width: 100%;
    font-size: 0;
    text-align: center;
    margin-left: 50%;
    margin-right: -50%;
    margin-top: 16vh;
    transform: translate(-50%, -50%);
    padding-left: 0;
}

.party-list li {
    width: 100%;
    margin-bottom: 12px;
    padding: 0 6.25%;
    display: inline-block;
    vertical-align: top;
}

@media (min-width: 720px) {
  .party-list li {
    width: 12%;
    padding: 0 2%;
}
}

.party-list li .party-list__party-image {
    width: 105px;
    margin: 0 auto 10px;
    display: inline-block;
}

@media (min-width: 720px) {
  .party-list li .party-list__party-image {
    width: 147px;
    margin-bottom: 13px;
}
}

.party-list li .party-list__party-image img {
    width: 100%;
}

.party-list li h2 {
  padding:0;
  margin:0;
  background:none;
  font-family:"Caecilla", sans-serif;
  font-size:14px;
  font-size:1rem;
  line-height:1.1;
  text-transform:none;
  color:#fff;
}

.party-list li h3 {
  margin-bottom: 0;
  font-family: "Storybook", cursive, sans-serif;
  font-size:45px;
  font-size: 3.2rem;
  color: #a28712;
  padding-bottom:0;
}

.party-list li p {
  font-size:14px;
  font-size: 1rem;
  color: #828282;
}


.party-list.party-list-male li h3 {
  color: #419385;
}

.cat {
	margin-bottom:0;
}

.cat img {
    width: 12%;
	font-size: 0;
    text-align: center;
    margin-left: 50%;
	margin-right: -50%;
    margin-top: -1vh;
    transform: translate(-50%, -50%);
	padding-left:0;

}

.cat h2 {
  padding:0;
  margin-top:-6.5%;
  font-family: "Caecilla", sans-serif;
  font-size:14px;
  font-size: 1rem;
  line-height: 1.1;
  text-transform: none;
  color: #fff;
}

.cat h3 {
  margin-bottom: 0;
  font-family: "Storybook", cursive, sans-serif;
  font-size:45px;
  font-size: 3.2rem;
  color: #a28712;
  padding-bottom:0;
}

/* IDs */

#home {
  background: url('images/5.jpg');
  position:relative;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed;
  width:100vw;
  height:100vh;
  
}


#details {
	width:100vw;
	height:100%;
}

#location {
	width:100vw;
	height:100%;
	clear:both;
}

#gettingthere {
	width:100vw;
	height:100%;
}

#cribbs {
	width:100vw;
	height:100%;
}

#picone {
  background: url('images/williams106.jpg');
  position:relative;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed;
  width:100vw;
  height:100vh;
  
}

#timeline {
	width:100vw;
	height:100%;
}

#pictwo {
  background: url('images/williams077bw.jpg');
  position:relative;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed;
  width:100vw;
  height:100vh;
  
}

#whoswho {
	width:100vw;
	height:100%;
}

#slide2 {
	width:100vw;
	height:100%;
}

#faq {
	width:100vw;
	height:100%;
}

#picthree {
  background: url('images/page1.jpg');
  position:relative;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed;
  width:100vw;
  height:100vh;
  
}

#gifts {
	width:100vw;
	height:100%;
}

#picfour {
  background: url('images/williams072bw.jpg');
  position:relative;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed;
  width:100vw;
  height:100vh;
  
}

#rsvp {
	width:100vw;
	height:100%;
 
}

#picfive {
  background: url('images/williams043.jpg');
  position:relative;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed;
  width:100vw;
  height:100vh;
  
}

#sayhi {
	width:100vw;
	height:100%;
}

/* spaces */

.space {
	padding-bottom:5vh;
}

.space1 {
	padding-bottom:2vh;
}

.space2 {
	padding-bottom:60vh;
}

.space3 {
	padding-bottom:55vh;
}